html{
    
    box-sizing: border-box;
    scroll-snap-type:mandatory;

}

/*selector universal*/
*, *:before, *:after {
    box-sizing: inherit;
}
*{
    padding: 0;
    margin: 0;
}

/*Selector id*/

#contenedor{
    width: 900px;
    height: 1000px;
    
    background-color:red;
    max-width: 0 auto;  
}

#encabezado{
    height: 15%;
    background-color:whitesmoke;
    margin: 1em auto;
    text-align:center;
     
}
#menu{
    height: 5%;
    background-color:green;
    padding: 2rem;
    border-radius: 1em;
    margin: 2em;
    text-align: center;
    
    border-radius: 2rem;
    
}
#contenido{
    height: 70%;
    width: 70%;
    
    background-color:greenyellow;;
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    
    margin-left: 14%;
   
    
    display: inline-block;
}






/*Selector tipo clase*/

.texto{
    text-align: center;
    font-family: Tohoma;
    font-size: medium;
}
.texto1{
    
    font-family: Tohoma;
    font-size: small;
    text-align: left;
}
.giancarloImagen{
    
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    margin-left: 5px;
    margin-right: 5px;
    
    border-radius: 4px;
    padding: 5px;
    

}
.texto{
    margin-left: 5em;
    margin-right: 2em;
}



/*Selector etiqueta*/
ul{
    text-align: center;
    
    
}
li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}
a{
    color:black;
}